.directory-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.categories-title {
  font-family: "Roboto";
  font-style: normal;
  font-size: 25px;
  color: #000000;
}
